scripts/logs/*.txt
scripts/logs/*.gz
scripts/logs-real
scripts/logs-small
scripts/downloadLogsMy.sh
client/build/bundle.js
client/bundle.js
node_modules
yarn.lock
package-lock.json
.env
.jscsrc
.jshintrc
npm-debug.log
